<h1>Eat-Da-Burger<br>Bucket List Burgers</h1>

<div class="float-container">

  <div id="bucket" class="section">
    <h2>My burger bucket list</h2>
    <ul>
      {{#each burgers}}
      {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
      {{/unless}}
      {{/each}}
      <h2>New Burger</h2>
      <li>
<form class="create-form">
  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>
  <div class="newbtn">
  <button class="new" type="submit">Add burger</button>
  </div>

</form>
</li>
    </ul>
  </div>
  <div id="faves" class="section">
    <h2>My Favourite Burgers</h2>
    <ul>
      {{#each burgers}}
      {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
