body {
  background-color: orange;
}

h1, h2 {
  margin: auto;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: xxx-large;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: .05px;
    -webkit-text-stroke-color: yellow;
}

h1 {
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfs9Sg891hIWrEg0M2QlQNUeoqXpIUDhi6og&usqp=CAU) transparent; */
}

h2 {
  font-size: x-large;
}

.float-container {
  padding: 20px;
}

.section {
  font-family: 'Lobster', cursive;
  width: 45%;
  float: left;
  padding: 20px;
}

#faves {
  flex-grow: 1;
}

.new {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

li {
  padding: 5px;
  margin: 5px;
  background: #643a2d;
  color: yellow;
  border-radius: 15%;
  list-style-type: none;
  text-align: center;
  margin-right: 40px;
}

button {
  background: #643a2d;
  color: yellow;
  font-family: 'Lobster', cursive;
}

.change-eat, .new {
  background: red ;
  color: yellow;
}

.rate {
  border: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}